.login {
  &-container {
    @include d(m) {
      margin-inline: 20px;
    }
  }
  &-page {
    body {
      grid-template-columns: 1fr !important;
    }

    main {
      margin: 0 !important;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/images/svg/wave-desktop.svg');
    background-size: cover;
    background-position: bottom;

    @include d(m) {
      background-image: url('/assets/images/svg/wave-mobile.svg');
    }

    h1 {
      @include type('title-md');
      color: $white;
      margin-bottom: 24px;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .register {
        color: $white;

        a {
          color: $primary;
          text-decoration: underline;

          &:hover {
            color: $white;
            transition: all 0.3s ease;
          }
        }
      }

      .email-group {
        position: relative;
        .icon-envelope {
          display: block;
          width: 24px;
          height: 24px;
          position: absolute;
          inset: 0;
          top: 15%;
          left: 16px;
          background-image: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 5.75L12 14L3 5.75" stroke="%236B51BD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 5.75H21V18.5C21 18.6989 20.921 18.8897 20.7803 19.0303C20.6397 19.171 20.4489 19.25 20.25 19.25H3.75C3.55109 19.25 3.36032 19.171 3.21967 19.0303C3.07902 18.8897 3 18.6989 3 18.5V5.75Z" stroke="%236B51BD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.3594 12.5L3.23438 19.0344" stroke="%236B51BD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M20.7656 19.0344L13.6406 12.5" stroke="%236B51BD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }

        input {
          padding-left: 50px;
        }
      }

      .password-group {
        width: 100%;
        position: relative;
        .toggle-password {
          cursor: pointer;
          &::after {
            content: '';
            display: block;
            width: 25px;
            height: 25px;
            position: absolute;
            inset: 0;
            top: 15%;
            left: calc(100% - 40px);
            mask-image: url('data:image/svg+xml,<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_2517_39" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-1" y="0" width="26" height="26"><rect x="-0.399414" y="0.0839844" width="25" height="25" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_2517_39)"><path d="M16.4598 13.688L14.3165 11.5446C14.404 11.0819 14.2653 10.6419 13.9004 10.2245C13.5354 9.80708 13.0692 9.64215 12.5016 9.72971L10.4759 7.70411C10.7416 7.59464 11.0092 7.51255 11.2787 7.45783C11.5482 7.40311 11.8222 7.37575 12.1007 7.37575C13.4028 7.37575 14.5096 7.83148 15.421 8.74293C16.3325 9.65439 16.7882 10.7612 16.7882 12.0632C16.7882 12.3222 16.7608 12.5962 16.7061 12.8853C16.6514 13.1744 16.5693 13.4419 16.4598 13.688ZM20.1759 17.3814L18.3711 15.5992C18.9621 15.1154 19.4916 14.5912 19.9596 14.0266C20.4276 13.462 20.8537 12.8075 21.2379 12.0632C20.3502 10.3196 19.1046 8.92881 17.501 7.89093C15.8973 6.85303 14.0972 6.33408 12.1007 6.33408C11.5972 6.33408 11.1294 6.3639 10.6973 6.42353C10.2652 6.48317 9.84905 6.56771 9.44898 6.67715L7.45169 4.67983C8.16349 4.3847 8.91229 4.16334 9.69807 4.01577C10.4838 3.8682 11.2847 3.79442 12.1007 3.79442C14.7811 3.79442 17.1873 4.54378 19.3193 6.04252C21.4514 7.54123 23.0167 9.54814 24.0154 12.0632C23.6161 13.1072 23.0811 14.0871 22.4104 15.0031C21.7397 15.9191 20.9949 16.7119 20.1759 17.3814ZM20.0491 23.8024L15.939 19.7297C15.351 19.9305 14.739 20.0811 14.1031 20.1815C13.4671 20.2819 12.7997 20.3321 12.1007 20.3321C9.41047 20.3321 6.99935 19.5778 4.86734 18.0693C2.73531 16.5607 1.17487 14.5587 0.186035 12.0632C0.540809 11.1627 1.00088 10.3003 1.56624 9.47606C2.13163 8.65179 2.7604 7.90753 3.45257 7.24327L0.646868 4.41491L2.26713 2.79468L21.6546 22.1968L20.0491 23.8024ZM5.24947 8.99601C4.76562 9.46702 4.34235 9.94218 3.97965 10.4215C3.61696 10.9008 3.28314 11.4481 2.9782 12.0632C3.84625 13.8167 5.08455 15.2099 6.69309 16.2429C8.30163 17.2759 10.1042 17.7924 12.1007 17.7924C12.3596 17.7924 12.6319 17.7781 12.9176 17.7494C13.2033 17.7207 13.5198 17.6803 13.867 17.6282L12.9295 16.6387C12.7876 16.6809 12.6495 16.7102 12.5151 16.7264C12.3807 16.7426 12.2426 16.7507 12.1007 16.7507C10.7986 16.7507 9.69184 16.295 8.78038 15.3836C7.86893 14.4721 7.4132 13.3653 7.4132 12.0632C7.4132 11.9311 7.41886 11.7955 7.43018 11.6562C7.4415 11.5169 7.46339 11.3764 7.49585 11.2344L5.24947 8.99601Z" fill="%236B51BD"/></g></svg>');
            background-color: $secondary-light;
          }

          &:hover {
            &:after {
              background: $primary;
            }
          }
        }

        input {
          padding-right: 50px;
        }
      }

      .name-group {
        input {
          padding-right: 50px;
        }
      }

      .forget-password {
        display: flex;
        width: 100%;
        color: $white;
        margin-bottom: 24px;
        justify-content: flex-end;

        &:hover {
          opacity: 0.8;
          transition: all 0.3s ease;
        }
      }
    }

    input {
      width: 100%;
      width: 524px;
      border: none;
      border-radius: 8px;
      margin-bottom: 16px;
      padding: 15px 16px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $secondary-light;
      }

      @include d(m) {
        max-width: 324px;
      }

      @include d(s) {
        width: 230px;
      }
    }
  }

  &-button {
    @include type('title-xs');
    background-color: $primary;
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: $white;
    margin-bottom: 90px;

    &:hover {
      background: $primary-hover;
      color: $black;
      transition: all 0.2s ease-in-out;
    }
  }
}
