<div class="example">
  <h1>Sejam Bem-Vindos</h1>
  <span> Projeto Biblioteca Etec | <span>Univesp</span> </span>

  <h2>Participantes</h2>

  <ul>
    <li>Bruno Santana De Sa, 2207280</li>
    <li>Carolina Suelen Attili, 2200939</li>
    <li>Dayane Oliveira Lima, 2206985</li>
    <li>Leticia Francolino Nogueira, 2212202</li>
    <li>Marcelo Scarponi, 2009521</li>
    <li>Paola Regina Cordeiro, 2214948</li>
    <li>Vinicius De Lira Teixeira, 2225260</li>
    <li>Willian Monteiro Dos Santos, 2215752</li>
  </ul>

</div>