$black: #261a00;
$gray: #808080;
$gray-c1: #fafafa;
$gray-c2: #f0f0f0f0;
$gray-c3: #e0e0e0;
$gray-c4: #cccccc;
$gray-c6: #a3a3a3;
$gray-c9: #666666;
$gray-c8: #7A7A7A;
$gray-c11:#3D3D3D;
$gray-c12: #292929;
$gray-c13: #141414;

$white: #ffffff;
$white-soft: #f6f6f6;
$primary: #f9c65d;
$primary-hover: #d3a546;
$primary-colorButton: #412c00;
$secondary: #853688;
$red-r2: #ff8c8d;
$green-g1: #C1FFE6 ;
$green-g9: #2D996E ;